{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            	<!-- Messages -->
            	{% with messages = get_flashed_messages() %}
				  {% if messages %}
				    {% for message in messages %}
					 <div class="alert alert-warning alert-dismissible" role="alert">
					 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						{{message}}
					 </div>
					{% endfor %}
				  {% endif %}
				{% endwith %}

				<!-- Agenda List -->
                <div class="col-md-12">
                    <h1>{{agenda.name}}</h1>
                    <hr class="intro-divider">
                    {% if points|length == 0 %}
                    	<h3>No points</h3>
                    {% else %}

	                    <div class="points sortable-items">
	                    {% for point in points %}
                        <div class="point {%if point.current_active == True%}active pulsate{% endif %}">
                            <a href="/delete/point/{{point.id}}" class="delete">x</a>
	                    	<span>{{point.name}}</span><br />
                            <span>{{point.content}}</span>
                        </div>
	                    {% endfor %}
	                	</div>
	                {% endif %}                    
                    </div>
                </div>
                <div class="col-lg-12 button-group">
                	<a href="/add/point/{{agenda.uuid}}" class="btn btn-default">Add point</a>
                    <a href="/view/{{agenda.uuid}}" class="btn btn-default">Present</a>
                </div>	
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extrascripts %}
<script type="text/javascript">
$(document).ready(function(){
    $(".delete").click(function(){
        return confirm("Are you sure you want to delete this point?");
    });
})
</script>

{% endblock %}