{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}
{% block body %}
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            	<!-- Messages -->
            	{% with messages = get_flashed_messages() %}
				  {% if messages %}
				    {% for message in messages %}
					 <div class="alert alert-warning alert-dismissible" role="alert">
					 <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
						{{message}}
					 </div>
					{% endfor %}
				  {% endif %}
				{% endwith %}

				<!-- Agenda List -->
                <div class="col-sm-6">
                    <h3>My Agendas</h3>
                    <hr class="intro-divider">
                    {% if agendas|length == 0 %}
                    	<h3>You don't have any agendas</h3>
                    {% else %}
                    <table class="table">
                    	<thead>
                    		<th></th>
                    		<th>Name</th>
                    		<th>Date</th>
                    		<th>Active Item</th>
                    	</thead>
                    	<tbody>
                    		{% for agenda in agendas %}
                    			<tr>
                    				<td><a href="/delete/agenda/{{agenda.uuid}}" class="delete">x</a></td>
                    				<td><span class="agenda-name" uuid="{{agenda.uuid}}">{{agenda.name}}</span></td>
                    				<td>{{agenda}}</td>
                    				<td><a href="{{url_for('present.present_agenda', agenda_uuid=agenda.uuid)}}">{{cur[loop.index0]}}</a></td>
                    			</tr>
                    		{% endfor %}
                    	</tbody>
                    </table>
	                {% endif %}                    
                
	                <div class="button-group">
	                	<a href="{{url_for('home.add_agenda')}}" class="btn btn-default">Add Agenda</a>
	                </div>	
                </div>

                <!-- The sidebar is initially hidden, maybe we can have some placeholder something instead  -->
                <div class="col-sm-5 side-bar pull-right" style="display:none;">
                    <h3 class="side-bar-name"></h3>
                    <hr class="intro-divider">
                    <ul class="side-bar-list">
                    </ul>

                    <span class="side-bar-button"></span>
                    

                </div>




            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extrascripts %}
<script src="{{url_for('static', filename='js/dashboard.js')}}">
</script>

{% endblock %}