{% extends "base.html" %}
{% block body %}

<div>  <!-- class="container" -->
    <div class="index-header"> <!--  class="intro-header" -->
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message" > <!-- class="intro-message" -->
                    <h1 class="fade-in">Megenda</h1>
                    <h3 class="fade-in">Make the most out of your meetings</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="index-header"> <!--  class="intro-header" -->
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message" > <!-- class="intro-message" -->
                    <h1 class="fade-in">Our Mission</h1>
                    <h3 class="fade-in">We want your meetings to be effective. We are working hard to build an ecosystem that allows you to easily create, share, and use agendas in your meetings.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="index-header"> <!--  class="intro-header" -->
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message" > <!-- class="intro-message" -->
                    <h1 class="fade-in">The Problem</h1>
                    <h3 class="fade-in">Meetings get off topic, go long, or miss certain important topics. In short, they just aren't as effective as they could be.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="index-header"> <!--  class="intro-header" -->
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message" > <!-- class="intro-message" -->
                    <h1 class="fade-in">Our Solution</h1>
                    <h3 class="fade-in">Using Automatic Speech Recognition (ASR) and Natural Language Understanding (NLU) we can help you talk about the important things. Megenda will gently help you stay on task, and remind you of important things left to discuss. Megenda will create a post meeting summary with a To Do list that can be sent to all who attended the meeting.</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="index-header"> <!--  class="intro-header" -->
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message" > <!-- class="intro-message" -->
                    <h1 class="fade-in">Learn More</h1>
                    <h3 class="fade-in">Sign up for our mailing list and get updates about Megenda's progress</h3>
                        <div class="col-md-10 fade-in" style="margin-top:15px;">
                            <form method="POST" action="/signup/">
                                <div class="input-group form-search">
                                    <input type="text" class="form-control search-query"/>
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-primary" data-type="last">Sign Up</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} 