
/*Styles are alphabetical*/
.active{
    border-color: #fff;
}

.add-point-button{
    cursor: pointer;
}

.agendas{
    position: relative;
    /*margin:auto;*/
}

.agenda-name{
    cursor: pointer;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #687430;
    background-color: #e6ecca;
    border-color: #aec251;
}


body, html {
    width: 100%;
    height: 100%;
    background-color: #fff;
    overflow-x:hidden;
}

body, h1, h2, h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    
}

.btn-default {
    color: #313131;
}

.btn-default:hover {
    color:#fff;
    background-color: #313131;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.content-section {
    padding: 50px 0;
    /*border-top: 1px solid #e7e7e7;*/
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.footer, .push {
  clear: both;
  height: 4em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background-color: #fff;
    background-size: cover;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
    height: 100vh;
    width: 100%;
    color: #f8f8f8;
    font-weight: 700;
    background-color: #4F001F;
}

.intro-message > h1, h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: 700;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover {
  color: darkgrey;
  cursor: pointer;
  font-weight: 700;
  text-decoration: none;
}

.navbar-default{
    background-color: #4F001F;
    border-color: transparent;
}

p.copyright {
    margin: 15px 0 0;
}

.point-content{
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
}

.pulsate {
    -webkit-animation: pulsate 3s ease-out;
    -webkit-animation-iteration-count: infinite; 
    border-color: black;
    /*opacity: 0.5;*/
}
@-webkit-keyframes pulsate {
    0% { 
        border-color: black;
        /*opacity: 0.5;*/
    }
    50% { 
        border-color: #fff;
        /*opacity: 1.0;*/
    }
    100% { 
        border-color: black;
        /*opacity: 0.5;*/
    }
}

.side-bar-list{
    text-align: left;
}


.side-bar{
    border-left: 1px solid black;
    height: 100vh;
}


td {
    text-align: left;
}

.topnav {
    font-size: 14px;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

