{% extends "base.html" %}
{% block extrastyles %}
<link href="{{ url_for('static', filename='css/present.css') }}" rel="stylesheet">
{% endblock %}
{% block body %}

<div class="container">
	<div class="row">
		<div class="col-md-12 present-name">
			<h1>{{agenda.name}}</h1>
		</div>
	</div>


	<div class="col-md-12">
		<!-- <div style="clear:both;"></div> -->
		<ul class="pager">
			<li class="previous">
				<a  href="{{url_for('home.dashboard', clicked=agenda.uuid)}}" >exit presentation</a>
			</li>
			<li class="next advance_point">
				<a  href="#">next point</a>
			</li>
		</ul>
	</div>

	<div class="col-md-10">
		<h3> Meeting Agenda </h3>
		<ul class="meeting_points">
			{% for point in points %}
				<li>
	                <div id="overview_{{point.id}}" class='overview {%if point.current_active%}current-active{%endif%}'>
	                	<div style="clear:both;"></div>
	                  <h4>{{point.name}} - {{point.time()}}</h4>	             
	                  <p>{{point.content}}</p>
	                </div>
             	 </li>
			{% endfor %}
        </ul>
	</div>
</div>



{% endblock %}

{% block extrascripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/present.js')}}"></script>
{% endblock %}