
{% extends "base.html" %}
{% block title %}Oops{% endblock %}
{% block extrastyles %}
<style type="text/css">
			body{
                background: #4F001F;
                color:#fff;
                font-family: 'Open Sans', sans-serif;
                max-height:700px;
                overflow: hidden;
            }
            .c{
                text-align: center;
                display: block;
                position: relative;
                width:80%;
                margin:100px auto;
            }
            ._404{
                font-size: 220px;
                position: relative;
                display: inline-block;
                z-index: 2;
                height: 250px;
                letter-spacing: 15px;
            }
            ._2{
                text-align:center;
                display:block;
                position: relative;
                font-size: 20px;
            }
            .text{
                font-size: 70px;
                text-align: center;
                position: relative;
                display: inline-block;
                margin: 19px 0px 0px 0px;
                z-index: 3;
                width: 100%;
                line-height: 1.2em;
                display: inline-block;
            }
           
            .right{
                float:right;
                width:60%;
            }
            
            hr{
                padding: 0;
                border: none;
                border-top: 5px solid #fff;
                color: #fff;
                text-align: center;
                margin: 0px auto;
                width: 420px;
                height:10px;
                z-index: -10;
            }
           

            .tumbleweed {
			    position: absolute;
			    margin-top: 400px;
    			margin-bottom: -400px;
			    left: -5rem;
			    background: url(http://dun.ai/static/images/tumbleweed.png) no-repeat center;
			    background-size: cover;
			    width: 5rem;
			    height: 5rem;
			    animation: jumping 1.5s infinite, rolling 5s linear infinite, rotating 2s linear infinite;

			}
			.tumbleweed:nth-child(2) {
			    animation-delay: 2.5s;
			}
			.tumbleweed:nth-child(3) {
			    animation-delay: 4s;
			}

			@keyframes jumping {
			    0% {
			        top: 0rem;
			        animation-timing-function: ease-in;
			    }
			    25% {
			        top: 3rem;
			        animation-timing-function: ease-out;
			    }
			    50% {
			        top: 1rem;
			        animation-timing-function: ease-in;
			    }
			    75% {
			        top: 3rem;
			        animation-timing-function: ease-out;
			    }
			    100% {
			        top: 0rem;
			        animation-timing-function: ease-in;
			    }
			}

			@keyframes rolling {
			    0% {
			        left: -5rem;
			    }
			    100% {
			        left: 100%;
			    }
			}

			@keyframes rotating {
			    0% {
			        transform: rotate(0deg);
			    }
			    100% {
			        transform: rotate(360deg);
			    }
			}

</style>
{% endblock %}
{% block body %}
<!-- 404 page inspired by sqfreakz at https://codepen.io/sqfreakz/pen/GJRJOY and andunai at https://jsfiddle.net/andunai/02Lxp9gs/-->
    <div class="tumbleweed"></div>
    <!-- <div class="cloud x1_5"></div> -->
    <!-- <div class="cloud x3"></div> -->
    <!-- <div class="cloud x1"></div> -->
    <!-- <div class="cloud x5"></div> -->
<div class='c'>
    <div class='_404'>500</div>
    <hr>
    <div class='_2'>Well, you're not supposed to see this page. Please contact tech support andrewcarr06@gmail.com for help</div>
</div>
{% endblock %}